body {
    background-color: rgb(158, 217, 245);
}

@font-face {
    font-family: "myDigital";
    src:url("ds_digital/DS-DIGIB.TTF");
   
}


.options{
    font-size: 15px;
    font-family:myDigital !important;
    font-weight: 10;
}

.container {
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.time {
color: black;
font-size: 150px;
font-family: myDigital; 
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid rgb(47, 199, 226) ;
    border-width: 1ex 1ex 1ex 5ex ;
    padding: 10px 20px;
    border-radius: 60px;
    font-size: 20px;
    font-family:myDigital !important;
    font-weight: 10;

}
ul {
    list-style: none;
}
li {
    color: white;
    font-size: 50px;
    text-align: center;
}
